<template>
  <HonkLayout>
    <template #header>
      <div>
        <ul>
          <li>{{ username }}</li>
          <li>
            <button @click="logout" class="outline">
              Logout
            </button>
          </li>
        </ul>
      </div>
    </template>
    <template #main>
      <article>
        <header>
          <CreateTweet :username="username" @tweetCreated="createTweet" />
        </header>
        <TweetCard
          v-for="tweet in tweets"
          :key="tweet.id"
          :tweetId="tweet.id"
          :author="tweet.author"
          :message="tweet.message"
          :createdAt="tweet.createdAt"
          :likes="tweet.likes"
          @tweetLiked="likeTweet"
        />
      </article>
    </template>
  </HonkLayout>
</template>

<script>
import HonkLayout from '../components/HonkLayout.vue'; // Import the HonkLayout component
import CreateTweet from '../components/CreateTweet.vue'; // Import the CreateTweet component
import TweetCard from '../components/TweetCard.vue'; // Import the TweetCard component
import accountService from '../services/account.service'; // Import the accountService
import tweetService from '../services/tweet.service'; // Import the tweetService

export default {
  components: {
    HonkLayout,
    CreateTweet,
    TweetCard,
  },
  data() {
    return {
      username: '',
      tweets: [],
    };
  },
  methods: {
    logout() {
      accountService.logout();
      this.$router.push('/');
    },
    getTweets() {
      tweetService.listTweets().then(tweets => {
        this.tweets = tweets;
      });
    },
    createTweet(data) {
      tweetService.createTweet(data.message, this.username).then(() => {
        this.getTweets();
      });
    },
    likeTweet(tweetId) {
      tweetService.likeTweet(tweetId).then(tweetLiked => {
        const tweetIndex = this.tweets.findIndex(tweet => tweet.id === tweetLiked.id);
        if (tweetIndex !== -1) {
          this.tweets[tweetIndex].likes = tweetLiked.likes;
        }
      });
    },
  },
  created() {
    if (!accountService.isAuthenticated()) {
      this.$router.push('/');
    }
    this.username = accountService.getUsername();
    this.getTweets();
  },
};
</script>

<style scoped>
/* Add your component-specific styles here */
</style>
