<template>
    <HonkLayout>
      <template #main>
        <SignForm
          formTitle="Register"
          btnLabel="Register"
          :img="img"
          v-model:username="username"
          v-model:password="password"
          @signSubmited="register"
        >
          <template v-slot:slot>
            <p class="sign-option">
              Already have login and password?
              <a href="#/">Sign in</a>
            </p>
          </template>
        </SignForm>
      </template>
    </HonkLayout>
  </template>
  
  <script>
  import HonkLayout from '../components/HonkLayout.vue'; // Import the HonkLayout component
  import SignForm from '../components/SignForm.vue'; // Import the SignForm component
	import accountService from '../services/account.service'; // Import the accountService
  
  export default {
    components: {
      HonkLayout,
      SignForm,
    },
    data() {
      return {
        img: 'https://source.unsplash.com/uymG7UVPXpI/1000x1200',
        username: '',
        password: '',
      };
    },
    methods: {
			register(data) {
        accountService.register(data.username, data.password).then(() => {
            // Redirect to the home page after successful registration
            this.$router.push('/');
        });
			},
    },
  };
  </script>
  
  <style scoped>
  /* Add your component-specific styles here */
  </style>
  