<template>
    <HonkLayout>
      <template #main>
        <SignForm
          formTitle="Sign in"
          btnLabel="Login"
          :img="img"
          :username="username"
          :password="password"
          @signSubmited="authenticate"
        >
          <template v-slot:slot>
            <p class="sign-option">
              Don't have an account yet?
              <a href="#/signup">Register now</a>
            </p>
          </template>
        </SignForm>
      </template>
    </HonkLayout>
  </template>
  
  <script>
  import HonkLayout from '../components/HonkLayout.vue'; // Import the HonkLayout component
  import SignForm from '../components/SignForm.vue'; // Import the SignForm component
  import accountService from '../services/account.service'; // Import the accountService
  
  export default {
    components: {
      HonkLayout,
      SignForm,
    },
    data() {
      return {
        img: 'https://source.unsplash.com/uymG7UVPXpI/1000x1200',
        username: '',
        password: '',
      };
    },
    methods: {
        authenticate(data) {
          const { username, password } = data;
          accountService.authenticate(username, password)
            .then(() => {
              // Redirect to the home page after successful authentication
              this.$router.push('/home');
            });
        },
    },
  };
  </script>
  
  <style scoped>
  /* Add your component-specific styles here */
  </style>
  