<honk-layout>
  <slot-main>
    <sign-form
      form-title="Register"
      btn-label="Register"
      img="https://source.unsplash.com/uymG7UVPXpI/1000x1200"
      username="{{$scope.username}}"
      password="{{$scope.password}}"
    >
      <slot>
        <p class="sign-option">
          Already have login and password?
          <a href="#/signin">Sign in</a>
        </p>
      </slot>
    </sign-form>
  </slot-main>
</honk-layout>