<template>
    <form @submit.prevent="submitTweet">
      <label for="message">
        Message
        <textarea v-model="message" id="message" placeholder="What's happening?" required></textarea>
      </label>
      <button>Honk 🚀</button>
    </form>
  </template>
  
  <script>
  export default {
    data() {
      return {
        message: '',
      };
    },
    methods: {
      clearForm() {
        this.message = '';
      },
      submitTweet() {
        this.$emit('tweetCreated', { message: this.message });
        this.clearForm();
      },
    },
  };
  </script>
  
  <style scoped>
  /* Add your component-specific styles here */
  </style>
  