<template>
    <div class="container">
      <header>
        <nav>
          <ul>
            <li>
              <h1>
                <a href="#/">
                  <img src="../assets/logo.svg" alt="" /> Honk
                </a>
              </h1>
            </li>
          </ul>
          <div>
            <slot name="header"></slot>
          </div>
        </nav>
      </header>
      <main>
        <div>
          <slot name="main"></slot>
        </div>
      </main>
    </div>
  </template>
  
  <script>
  export default {
    name: 'HonkLayout',
  };
  </script>
  
  <style scoped>
  /* Add your component-specific styles here */
  </style>
  