<template>
    <article class="grid">
      <div>
        <h2>{{ formTitle }}</h2>
        <form @submit.prevent="handleSubmit">
          <label for="username">
            Username
            <input v-model="username" type="text" id="username" required />
          </label>
          <label for="password">
            Password
            <input v-model="password" type="password" id="password" required />
          </label>
          <button class="contrast">{{ btnLabel }}</button>
          <div v-if="$slots.slot"><slot name="slot"></slot></div>
        </form>
      </div>
      <div class="sign-img" :style="bgImg"></div>
    </article>
  </template>
  
  <script>
  export default {
    props: {
      formTitle: String,
      btnLabel: String,
      img: String,
    },
    data() {
      return {
        username: "",
        password: "",
      };
    },
    computed: {
      bgImg() {
        return {
          "background-image": `url(${this.img})`,
        };
      },
    },
    methods: {
      handleSubmit() {
        this.$emit("signSubmited", {
          username: this.username,
          password: this.password,
        });
        this.clearForm();
      },
      clearForm() {
        this.username = "";
        this.password = "";
      },
    },
  };
  </script>
  
  <style scoped>
  /* Add your component-specific styles here */
  </style>
  