<template>
    <div class="tweet-card">
      <div style="display: none">
        <slot name="title" />
      </div>
      <div class="tweet-card__author">
        {{ author }} - {{ createdAt }}
      </div>
      <p>{{ message }}</p>
      <button class="tweet-card__like-button outline" @click="likeTweet">
        {{ likes }} ❤️
      </button>
    </div>
  </template>
  
  <script>
  export default {
    props: {
      tweetId: String,
      author: String,
      createdAt: String,
      message: String,
      likes: String,
    },
    methods: {
      likeTweet() {
        this.$emit('tweetLiked', this.tweetId);
      },
    },
  };
  </script>
  
  <style scoped>
  /* Add your component-specific styles here */
  </style>
  