<div class="container">
  <header>
    <nav>
      <ul>
        <li>
          <h1>
            <a href="#/">
              <img src="../../assets/logo.svg" alt="" /> Honk
            </a>
          </h1>
        </li>
      </ul>
      <div ng-transclude="header"></div>
    </nav>
  </header>
  <main><div ng-transclude="main"></div></main>
</div>